@import "tailwindcss";
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide {
  animation: slide 12s infinite linear;
}
